--
-- PostgreSQL database dump
--

\restrict Z7hDjWIXyTmSbehwRfl8tEcQdxWvFHgRaff2uE8awd135Qyk7Au7B3CslquCddz

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ActorType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ActorType" AS ENUM (
    'USER',
    'SYSTEM',
    'BOT'
);


ALTER TYPE public."ActorType" OWNER TO postgres;

--
-- Name: AdFormat; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AdFormat" AS ENUM (
    'POST',
    'FORWARD',
    'PIN_MESSAGE'
);


ALTER TYPE public."AdFormat" OWNER TO postgres;

--
-- Name: BalanceTransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BalanceTransactionType" AS ENUM (
    'DEAL_EARNING',
    'REFERRAL_EARNING',
    'WITHDRAWAL',
    'WITHDRAWAL_FEE',
    'REFUND_CREDIT',
    'MANUAL_ADJUSTMENT'
);


ALTER TYPE public."BalanceTransactionType" OWNER TO postgres;

--
-- Name: CampaignApplicationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CampaignApplicationStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'REJECTED',
    'WITHDRAWN'
);


ALTER TYPE public."CampaignApplicationStatus" OWNER TO postgres;

--
-- Name: CampaignStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CampaignStatus" AS ENUM (
    'DRAFT',
    'ACTIVE',
    'PAUSED',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."CampaignStatus" OWNER TO postgres;

--
-- Name: ChannelCategory; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ChannelCategory" AS ENUM (
    'CRYPTO',
    'TECH',
    'BUSINESS',
    'ENTERTAINMENT',
    'NEWS',
    'EDUCATION',
    'LIFESTYLE',
    'GAMING',
    'SPORTS',
    'FINANCE',
    'HEALTH',
    'TRAVEL',
    'FOOD',
    'FASHION',
    'MUSIC',
    'ART',
    'SCIENCE',
    'POLITICS',
    'OTHER'
);


ALTER TYPE public."ChannelCategory" OWNER TO postgres;

--
-- Name: ChannelStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ChannelStatus" AS ENUM (
    'PENDING_VERIFICATION',
    'VERIFIED',
    'ACTIVE',
    'SUSPENDED',
    'REJECTED'
);


ALTER TYPE public."ChannelStatus" OWNER TO postgres;

--
-- Name: CreativeStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CreativeStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."CreativeStatus" OWNER TO postgres;

--
-- Name: DealStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DealStatus" AS ENUM (
    'CREATED',
    'PENDING_PAYMENT',
    'PAYMENT_RECEIVED',
    'IN_PROGRESS',
    'CREATIVE_PENDING',
    'CREATIVE_SUBMITTED',
    'CREATIVE_REVISION_REQUESTED',
    'CREATIVE_APPROVED',
    'SCHEDULED',
    'POSTED',
    'VERIFYING',
    'VERIFIED',
    'COMPLETED',
    'DISPUTED',
    'REFUNDED',
    'CANCELLED',
    'EXPIRED'
);


ALTER TYPE public."DealStatus" OWNER TO postgres;

--
-- Name: DisputeReason; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DisputeReason" AS ENUM (
    'POST_NOT_PUBLISHED',
    'POST_DELETED_EARLY',
    'POST_MODIFIED',
    'WRONG_CONTENT',
    'WRONG_TIME',
    'OTHER'
);


ALTER TYPE public."DisputeReason" OWNER TO postgres;

--
-- Name: DisputeStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DisputeStatus" AS ENUM (
    'OPEN',
    'UNDER_REVIEW',
    'RESOLVED_ADVERTISER',
    'RESOLVED_CHANNEL_OWNER',
    'CANCELLED'
);


ALTER TYPE public."DisputeStatus" OWNER TO postgres;

--
-- Name: EscrowStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EscrowStatus" AS ENUM (
    'PENDING',
    'FUNDED',
    'LOCKED',
    'RELEASING',
    'RELEASED',
    'REFUNDING',
    'REFUNDED',
    'DISPUTED',
    'CANCELLED'
);


ALTER TYPE public."EscrowStatus" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'DEAL_CREATED',
    'DEAL_UPDATED',
    'PAYMENT_RECEIVED',
    'CREATIVE_SUBMITTED',
    'CREATIVE_APPROVED',
    'CREATIVE_REJECTED',
    'POST_SCHEDULED',
    'POST_PUBLISHED',
    'POST_VERIFIED',
    'PAYOUT_SENT',
    'DISPUTE_OPENED',
    'SYSTEM',
    'DEAL_REQUEST_RECEIVED',
    'DEAL_REQUEST_ACCEPTED',
    'DEAL_REQUEST_REJECTED',
    'DEAL_PAYMENT_RECEIVED',
    'DEAL_CONTENT_SUBMITTED',
    'DEAL_CONTENT_APPROVED',
    'DEAL_CONTENT_REJECTED',
    'DEAL_PUBLISHED',
    'DEAL_COMPLETED',
    'DEAL_CANCELLED',
    'DEAL_DISPUTE_OPENED',
    'DEAL_DISPUTE_RESOLVED',
    'DEAL_TIMEOUT_WARNING',
    'DEAL_EXPIRED',
    'REVIEW_RECEIVED',
    'REVIEW_REPLY',
    'CHANNEL_VERIFIED',
    'CHANNEL_VERIFICATION_REJECTED',
    'CHANNEL_NEW_ORDER',
    'WALLET_DEPOSIT_CONFIRMED',
    'WALLET_WITHDRAWAL_SENT',
    'WALLET_FUNDS_RELEASED',
    'WALLET_FUNDS_LOCKED',
    'REFERRAL_SIGNUP',
    'REFERRAL_BONUS_EARNED',
    'TICKET_CREATED',
    'TICKET_REPLY',
    'TICKET_RESOLVED',
    'WELCOME',
    'SYSTEM_ANNOUNCEMENT',
    'SECURITY_ALERT'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: PostStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PostStatus" AS ENUM (
    'SCHEDULED',
    'PUBLISHING',
    'PUBLISHED',
    'FAILED',
    'CANCELLED',
    'DELETED'
);


ALTER TYPE public."PostStatus" OWNER TO postgres;

--
-- Name: TicketCategory; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TicketCategory" AS ENUM (
    'PAYMENT_ISSUE',
    'DEAL_PROBLEM',
    'DISPUTE',
    'USER_REPORT',
    'CHANNEL_REPORT',
    'CHANNEL_VERIFICATION',
    'ACCOUNT_ISSUE',
    'FEATURE_REQUEST',
    'BUG_REPORT',
    'QUESTION',
    'OTHER'
);


ALTER TYPE public."TicketCategory" OWNER TO postgres;

--
-- Name: TicketPriority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TicketPriority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public."TicketPriority" OWNER TO postgres;

--
-- Name: TicketStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TicketStatus" AS ENUM (
    'OPEN',
    'IN_PROGRESS',
    'WAITING_USER',
    'RESOLVED',
    'CLOSED'
);


ALTER TYPE public."TicketStatus" OWNER TO postgres;

--
-- Name: TransactionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'CONFIRMED',
    'FAILED',
    'CANCELLED'
);


ALTER TYPE public."TransactionStatus" OWNER TO postgres;

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TransactionType" AS ENUM (
    'DEPOSIT',
    'WITHDRAWAL',
    'ESCROW_LOCK',
    'ESCROW_RELEASE',
    'ESCROW_REFUND',
    'PLATFORM_FEE',
    'PAYOUT'
);


ALTER TYPE public."TransactionType" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'USER',
    'CHANNEL_OWNER',
    'ADVERTISER',
    'PR_MANAGER',
    'ADMIN',
    'SUPER_ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'BANNED',
    'PENDING_VERIFICATION'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

--
-- Name: VerificationRequestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."VerificationRequestStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."VerificationRequestStatus" OWNER TO postgres;

--
-- Name: VerificationTier; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."VerificationTier" AS ENUM (
    'NONE',
    'BASIC',
    'VERIFIED',
    'PREMIUM',
    'ENTERPRISE'
);


ALTER TYPE public."VerificationTier" OWNER TO postgres;

--
-- Name: WithdrawalStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WithdrawalStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED',
    'CANCELLED'
);


ALTER TYPE public."WithdrawalStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.achievements (
    id text NOT NULL,
    key text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    icon text NOT NULL,
    category text NOT NULL,
    "xpReward" integer DEFAULT 0 NOT NULL,
    condition jsonb NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.achievements OWNER TO postgres;

--
-- Name: balance_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.balance_transactions (
    id text NOT NULL,
    "balanceId" text NOT NULL,
    type public."BalanceTransactionType" NOT NULL,
    amount bigint NOT NULL,
    description text,
    "dealId" text,
    "referralId" text,
    "withdrawalId" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.balance_transactions OWNER TO postgres;

--
-- Name: campaign_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaign_applications (
    id text NOT NULL,
    "campaignId" text NOT NULL,
    "channelId" text NOT NULL,
    "userId" text NOT NULL,
    "proposedPrice" bigint NOT NULL,
    "adFormat" public."AdFormat" NOT NULL,
    message text,
    "proposedDate" timestamp(3) without time zone,
    "proposedTime" text,
    status public."CampaignApplicationStatus" DEFAULT 'PENDING'::public."CampaignApplicationStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "respondedAt" timestamp(3) without time zone
);


ALTER TABLE public.campaign_applications OWNER TO postgres;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaigns (
    id text NOT NULL,
    "advertiserId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    brief text,
    status public."CampaignStatus" DEFAULT 'DRAFT'::public."CampaignStatus" NOT NULL,
    "targetCategories" public."ChannelCategory"[],
    "targetLanguages" text[] DEFAULT ARRAY[]::text[],
    "targetCountries" text[] DEFAULT ARRAY[]::text[],
    "minSubscribers" integer,
    "maxSubscribers" integer,
    "minEngagement" double precision,
    "adFormats" public."AdFormat"[],
    "totalBudget" bigint NOT NULL,
    "minPricePerPost" bigint,
    "maxPricePerPost" bigint,
    currency text DEFAULT 'TON'::text NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "preferredPostTimes" integer[] DEFAULT ARRAY[]::integer[],
    "creativeGuidelines" text,
    "sampleContent" text,
    attachments text[] DEFAULT ARRAY[]::text[],
    "doNotInclude" text[] DEFAULT ARRAY[]::text[],
    "applicationCount" integer DEFAULT 0 NOT NULL,
    "acceptedCount" integer DEFAULT 0 NOT NULL,
    "completedDeals" integer DEFAULT 0 NOT NULL,
    "totalSpent" bigint DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "closedAt" timestamp(3) without time zone
);


ALTER TABLE public.campaigns OWNER TO postgres;

--
-- Name: channel_admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.channel_admins (
    id text NOT NULL,
    "channelId" text NOT NULL,
    "userId" text NOT NULL,
    "canManageDeals" boolean DEFAULT true NOT NULL,
    "canManagePricing" boolean DEFAULT false NOT NULL,
    "canManageSettings" boolean DEFAULT false NOT NULL,
    "canWithdraw" boolean DEFAULT false NOT NULL,
    "canAddAdmins" boolean DEFAULT false NOT NULL,
    "telegramAdminRights" jsonb,
    "isActive" boolean DEFAULT true NOT NULL,
    "addedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastVerifiedAt" timestamp(3) without time zone
);


ALTER TABLE public.channel_admins OWNER TO postgres;

--
-- Name: channel_pricing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.channel_pricing (
    id text NOT NULL,
    "channelId" text NOT NULL,
    "adFormat" public."AdFormat" NOT NULL,
    currency text DEFAULT 'TON'::text NOT NULL,
    description text,
    duration integer,
    includes text[] DEFAULT ARRAY[]::text[],
    "isActive" boolean DEFAULT true NOT NULL,
    "minOrderTime" integer,
    "maxOrderTime" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "pricePerHour" bigint NOT NULL,
    "minHours" integer DEFAULT 1 NOT NULL,
    "maxHours" integer DEFAULT 168 NOT NULL,
    "pricePermanent" bigint,
    "publishTimeStart" character varying(5),
    "publishTimeEnd" character varying(5),
    timezone character varying(50) DEFAULT 'UTC'::character varying NOT NULL
);


ALTER TABLE public.channel_pricing OWNER TO postgres;

--
-- Name: channel_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.channel_reviews (
    id text NOT NULL,
    "dealId" text NOT NULL,
    "channelId" text NOT NULL,
    "fromUserId" text NOT NULL,
    "overallRating" integer NOT NULL,
    "audienceQuality" integer,
    "engagementRating" integer,
    "reachAccuracy" integer,
    comment text,
    tags text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.channel_reviews OWNER TO postgres;

--
-- Name: channel_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.channel_stats (
    id text NOT NULL,
    "channelId" text NOT NULL,
    "subscriberCount" integer DEFAULT 0 NOT NULL,
    "subscriberGrowth24h" integer DEFAULT 0 NOT NULL,
    "subscriberGrowth7d" integer DEFAULT 0 NOT NULL,
    "subscriberGrowth30d" integer DEFAULT 0 NOT NULL,
    "averageViews" integer DEFAULT 0 NOT NULL,
    "averageReach" integer DEFAULT 0 NOT NULL,
    "averageViewsGrowth" double precision DEFAULT 0 NOT NULL,
    "engagementRate" double precision DEFAULT 0 NOT NULL,
    "averageReactions" integer DEFAULT 0 NOT NULL,
    "averageComments" integer DEFAULT 0 NOT NULL,
    "averageShares" integer DEFAULT 0 NOT NULL,
    "premiumSubscribers" double precision DEFAULT 0 NOT NULL,
    "premiumViewsPercentage" double precision DEFAULT 0 NOT NULL,
    "languageDistribution" jsonb,
    "genderDistribution" jsonb,
    "ageDistribution" jsonb,
    "geoDistribution" jsonb,
    "postsLast24h" integer DEFAULT 0 NOT NULL,
    "postsLast7d" integer DEFAULT 0 NOT NULL,
    "postsLast30d" integer DEFAULT 0 NOT NULL,
    "averagePostsPerDay" double precision DEFAULT 0 NOT NULL,
    "peakHours" integer[] DEFAULT ARRAY[]::integer[],
    "rawTelegramStats" jsonb,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastFetchedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.channel_stats OWNER TO postgres;

--
-- Name: channel_stats_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.channel_stats_history (
    id text NOT NULL,
    "channelId" text NOT NULL,
    "subscriberCount" integer NOT NULL,
    "averageViews" integer DEFAULT 0 NOT NULL,
    "engagementRate" double precision DEFAULT 0 NOT NULL,
    "recordedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.channel_stats_history OWNER TO postgres;

--
-- Name: channels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.channels (
    id text NOT NULL,
    "telegramId" bigint NOT NULL,
    username text,
    title text NOT NULL,
    description text,
    "inviteLink" text,
    "photoUrl" text,
    "ownerId" text NOT NULL,
    status public."ChannelStatus" DEFAULT 'PENDING_VERIFICATION'::public."ChannelStatus" NOT NULL,
    "isActive" boolean DEFAULT false NOT NULL,
    categories public."ChannelCategory"[],
    tags text[] DEFAULT ARRAY[]::text[],
    language text DEFAULT 'en'::text NOT NULL,
    country text,
    "isBotAdded" boolean DEFAULT false NOT NULL,
    "botAddedAt" timestamp(3) without time zone,
    "verificationToken" text,
    "verifiedAt" timestamp(3) without time zone,
    "subscriberCount" integer DEFAULT 0 NOT NULL,
    "averageViews" integer DEFAULT 0 NOT NULL,
    "averageReach" integer DEFAULT 0 NOT NULL,
    "engagementRate" double precision DEFAULT 0 NOT NULL,
    "premiumSubscribers" double precision DEFAULT 0 NOT NULL,
    "totalDeals" integer DEFAULT 0 NOT NULL,
    "successfulDeals" integer DEFAULT 0 NOT NULL,
    "totalEarnings" bigint DEFAULT 0 NOT NULL,
    rating double precision DEFAULT 0 NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "isPublic" boolean DEFAULT true NOT NULL,
    "autoAcceptDeals" boolean DEFAULT false NOT NULL,
    "minBudget" bigint,
    "maxBudget" bigint,
    "statsUpdatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "adRequirements" text,
    "isAcceptingOrders" boolean DEFAULT true NOT NULL,
    "isOwnerAnonymous" boolean DEFAULT false NOT NULL,
    "channelRating" double precision DEFAULT 0 NOT NULL,
    "channelReviewCount" integer DEFAULT 0 NOT NULL,
    "verificationTier" public."VerificationTier" DEFAULT 'NONE'::public."VerificationTier" NOT NULL
);


ALTER TABLE public.channels OWNER TO postgres;

--
-- Name: deal_creatives; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deal_creatives (
    id text NOT NULL,
    "dealId" text NOT NULL,
    text text,
    "mediaUrls" text[] DEFAULT ARRAY[]::text[],
    buttons jsonb,
    version integer DEFAULT 1 NOT NULL,
    "previousVersions" jsonb,
    status public."CreativeStatus" DEFAULT 'DRAFT'::public."CreativeStatus" NOT NULL,
    "advertiserNotes" text,
    "revisionRequests" text[] DEFAULT ARRAY[]::text[],
    "submittedAt" timestamp(3) without time zone,
    "approvedAt" timestamp(3) without time zone,
    "rejectedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "sourceChatId" bigint,
    "sourceMessageId" integer
);


ALTER TABLE public.deal_creatives OWNER TO postgres;

--
-- Name: deal_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deal_messages (
    id text NOT NULL,
    "dealId" text NOT NULL,
    "senderId" text NOT NULL,
    content text NOT NULL,
    "isSystem" boolean DEFAULT false NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.deal_messages OWNER TO postgres;

--
-- Name: deal_timeline; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deal_timeline (
    id text NOT NULL,
    "dealId" text NOT NULL,
    event text NOT NULL,
    "fromStatus" public."DealStatus",
    "toStatus" public."DealStatus",
    "actorId" text,
    "actorType" public."ActorType",
    metadata jsonb,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.deal_timeline OWNER TO postgres;

--
-- Name: deals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deals (
    id text NOT NULL,
    "referenceNumber" text NOT NULL,
    "advertiserId" text NOT NULL,
    "channelOwnerId" text NOT NULL,
    "channelId" text NOT NULL,
    "campaignId" text,
    "adFormat" public."AdFormat" NOT NULL,
    price bigint NOT NULL,
    "platformFee" bigint NOT NULL,
    "totalAmount" bigint NOT NULL,
    currency text DEFAULT 'TON'::text NOT NULL,
    status public."DealStatus" DEFAULT 'CREATED'::public."DealStatus" NOT NULL,
    "previousStatus" public."DealStatus",
    brief text,
    requirements text,
    attachments text[] DEFAULT ARRAY[]::text[],
    "scheduledPostTime" timestamp(3) without time zone,
    "postDuration" integer,
    "creativeDeadline" timestamp(3) without time zone,
    "paymentDeadline" timestamp(3) without time zone,
    "completionDeadline" timestamp(3) without time zone,
    "timeoutMinutes" integer DEFAULT 1440 NOT NULL,
    "lastActivityAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isUrgent" boolean DEFAULT false NOT NULL,
    "requiresVerification" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    "cancelledAt" timestamp(3) without time zone,
    "isAnonymous" boolean DEFAULT false NOT NULL,
    "contentSubmittedAt" timestamp(3) without time zone,
    "publishedAt" timestamp(3) without time zone,
    "scheduledDeleteAt" timestamp(3) without time zone,
    "isPermanent" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.deals OWNER TO postgres;

--
-- Name: disputes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.disputes (
    id text NOT NULL,
    "dealId" text NOT NULL,
    "initiatorId" text NOT NULL,
    reason public."DisputeReason" NOT NULL,
    description text NOT NULL,
    evidence text[] DEFAULT ARRAY[]::text[],
    status public."DisputeStatus" DEFAULT 'OPEN'::public."DisputeStatus" NOT NULL,
    resolution text,
    "resolvedBy" text,
    "resolvedAt" timestamp(3) without time zone,
    "requestedRefund" bigint,
    "actualRefund" bigint,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.disputes OWNER TO postgres;

--
-- Name: escrows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.escrows (
    id text NOT NULL,
    "dealId" text NOT NULL,
    "escrowWalletAddress" text NOT NULL,
    "advertiserWallet" text NOT NULL,
    "channelOwnerWallet" text NOT NULL,
    "platformWallet" text NOT NULL,
    amount bigint NOT NULL,
    "platformFee" bigint NOT NULL,
    "totalAmount" bigint NOT NULL,
    status public."EscrowStatus" DEFAULT 'PENDING'::public."EscrowStatus" NOT NULL,
    "fundingTxHash" text,
    "releaseTxHash" text,
    "refundTxHash" text,
    "fundedAt" timestamp(3) without time zone,
    "releasedAt" timestamp(3) without time zone,
    "refundedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    metadata jsonb
);


ALTER TABLE public.escrows OWNER TO postgres;

--
-- Name: faq_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faq_categories (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    description text,
    icon text,
    "order" integer DEFAULT 0 NOT NULL,
    "isPublished" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.faq_categories OWNER TO postgres;

--
-- Name: faq_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faq_items (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "isPublished" boolean DEFAULT true NOT NULL,
    "viewCount" integer DEFAULT 0 NOT NULL,
    "helpfulYes" integer DEFAULT 0 NOT NULL,
    "helpfulNo" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.faq_items OWNER TO postgres;

--
-- Name: favorites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.favorites (
    id text NOT NULL,
    "userId" text NOT NULL,
    "channelId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.favorites OWNER TO postgres;

--
-- Name: notification_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification_settings (
    id text NOT NULL,
    "userId" text NOT NULL,
    "inAppEnabled" boolean DEFAULT true NOT NULL,
    "telegramEnabled" boolean DEFAULT true NOT NULL,
    "dealsEnabled" boolean DEFAULT true NOT NULL,
    "reviewsEnabled" boolean DEFAULT true NOT NULL,
    "walletEnabled" boolean DEFAULT true NOT NULL,
    "referralEnabled" boolean DEFAULT true NOT NULL,
    "marketingEnabled" boolean DEFAULT true NOT NULL,
    "quietHoursEnabled" boolean DEFAULT false NOT NULL,
    "quietHoursStart" text,
    "quietHoursEnd" text,
    "quietHoursTimezone" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.notification_settings OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "entityType" text,
    "entityId" text,
    "isSent" boolean DEFAULT false NOT NULL,
    "sentAt" timestamp(3) without time zone,
    "sentVia" text[] DEFAULT ARRAY[]::text[],
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: post_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.post_verifications (
    id text NOT NULL,
    "postId" text NOT NULL,
    "exists" boolean NOT NULL,
    views integer,
    reactions integer,
    forwards integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.post_verifications OWNER TO postgres;

--
-- Name: published_posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.published_posts (
    id text NOT NULL,
    "dealId" text NOT NULL,
    "channelId" text NOT NULL,
    "telegramMessageId" integer,
    content text,
    "mediaUrls" text[] DEFAULT ARRAY[]::text[],
    buttons jsonb,
    status public."PostStatus" DEFAULT 'SCHEDULED'::public."PostStatus" NOT NULL,
    "scheduledFor" timestamp(3) without time zone,
    "publishedAt" timestamp(3) without time zone,
    "deletedAt" timestamp(3) without time zone,
    "errorMessage" text,
    views integer DEFAULT 0 NOT NULL,
    reactions integer DEFAULT 0 NOT NULL,
    forwards integer DEFAULT 0 NOT NULL,
    "lastVerifiedAt" timestamp(3) without time zone,
    "verificationCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "scheduledDeleteAt" timestamp(3) without time zone,
    "deleteJobId" text
);


ALTER TABLE public.published_posts OWNER TO postgres;

--
-- Name: referral_earnings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referral_earnings (
    id text NOT NULL,
    "referralId" text NOT NULL,
    "dealId" text NOT NULL,
    "dealAmount" bigint NOT NULL,
    "platformFee" bigint NOT NULL,
    earning bigint NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.referral_earnings OWNER TO postgres;

--
-- Name: referrals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referrals (
    id text NOT NULL,
    "referrerId" text NOT NULL,
    "referredUserId" text NOT NULL,
    "referralCode" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "totalEarned" bigint DEFAULT 0 NOT NULL,
    "dealCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.referrals OWNER TO postgres;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    id text NOT NULL,
    "dealId" text NOT NULL,
    "authorId" text NOT NULL,
    "recipientId" text NOT NULL,
    "channelId" text,
    rating integer NOT NULL,
    "communicationRating" integer,
    "timelinessRating" integer,
    "qualityRating" integer,
    comment text,
    response text,
    "respondedAt" timestamp(3) without time zone,
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isVerified" boolean DEFAULT true NOT NULL,
    tags text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: saved_filters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_filters (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    filters jsonb NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.saved_filters OWNER TO postgres;

--
-- Name: support_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.support_messages (
    id text NOT NULL,
    "ticketId" text NOT NULL,
    "senderId" text,
    "isFromSupport" boolean DEFAULT false NOT NULL,
    "isSystemMessage" boolean DEFAULT false NOT NULL,
    content text NOT NULL,
    attachments jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.support_messages OWNER TO postgres;

--
-- Name: support_tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.support_tickets (
    id text NOT NULL,
    "ticketNumber" text NOT NULL,
    "userId" text NOT NULL,
    category public."TicketCategory" NOT NULL,
    priority public."TicketPriority" DEFAULT 'MEDIUM'::public."TicketPriority" NOT NULL,
    status public."TicketStatus" DEFAULT 'OPEN'::public."TicketStatus" NOT NULL,
    subject text NOT NULL,
    "dealId" text,
    "channelId" text,
    "reportedUserId" text,
    "assignedTo" text,
    tags text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "firstResponseAt" timestamp(3) without time zone,
    "resolvedAt" timestamp(3) without time zone
);


ALTER TABLE public.support_tickets OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id text NOT NULL,
    "userId" text,
    "escrowId" text,
    type public."TransactionType" NOT NULL,
    status public."TransactionStatus" DEFAULT 'PENDING'::public."TransactionStatus" NOT NULL,
    amount bigint NOT NULL,
    fee bigint DEFAULT 0 NOT NULL,
    currency text DEFAULT 'TON'::text NOT NULL,
    "fromAddress" text,
    "toAddress" text,
    "txHash" text,
    lt bigint,
    utime timestamp(3) without time zone,
    description text,
    metadata jsonb,
    "errorMessage" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "confirmedAt" timestamp(3) without time zone
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: user_achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_achievements (
    id text NOT NULL,
    "userId" text NOT NULL,
    "achievementId" text NOT NULL,
    "unlockedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_achievements OWNER TO postgres;

--
-- Name: user_balances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_balances (
    id text NOT NULL,
    "userId" text NOT NULL,
    available bigint DEFAULT 0 NOT NULL,
    pending bigint DEFAULT 0 NOT NULL,
    "totalEarned" bigint DEFAULT 0 NOT NULL,
    "totalWithdrawn" bigint DEFAULT 0 NOT NULL,
    "totalReferral" bigint DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_balances OWNER TO postgres;

--
-- Name: user_levels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_levels (
    id text NOT NULL,
    "userId" text NOT NULL,
    level integer DEFAULT 1 NOT NULL,
    xp integer DEFAULT 0 NOT NULL,
    "totalXp" integer DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_levels OWNER TO postgres;

--
-- Name: user_onboarding; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_onboarding (
    id text NOT NULL,
    "userId" text NOT NULL,
    "welcomeScreenSeen" boolean DEFAULT false NOT NULL,
    "exploreTooltipSeen" boolean DEFAULT false NOT NULL,
    "channelsTooltipSeen" boolean DEFAULT false NOT NULL,
    "dealsTooltipSeen" boolean DEFAULT false NOT NULL,
    "walletTooltipSeen" boolean DEFAULT false NOT NULL,
    "profileTooltipSeen" boolean DEFAULT false NOT NULL,
    "firstChannelAdded" boolean DEFAULT false NOT NULL,
    "firstDealCreated" boolean DEFAULT false NOT NULL,
    "firstDealCompleted" boolean DEFAULT false NOT NULL,
    "walletConnected" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_onboarding OWNER TO postgres;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    "refreshToken" text,
    "deviceInfo" jsonb,
    "ipAddress" text,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastUsedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: user_wallets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_wallets (
    id text NOT NULL,
    "userId" text NOT NULL,
    address text NOT NULL,
    "publicKey" text,
    "isMain" boolean DEFAULT false NOT NULL,
    balance bigint DEFAULT 0 NOT NULL,
    "lastSyncedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_wallets OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    "telegramId" bigint NOT NULL,
    "telegramUsername" text,
    "firstName" text,
    "lastName" text,
    "photoUrl" text,
    "languageCode" text DEFAULT 'en'::text,
    "isPremium" boolean DEFAULT false NOT NULL,
    roles public."UserRole"[] DEFAULT ARRAY['USER'::public."UserRole"],
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "tonWalletAddress" text,
    "tonWalletConnectedAt" timestamp(3) without time zone,
    "notificationsEnabled" boolean DEFAULT true NOT NULL,
    "emailNotifications" boolean DEFAULT false NOT NULL,
    email text,
    "isVerified" boolean DEFAULT false NOT NULL,
    "verifiedAt" timestamp(3) without time zone,
    "totalDeals" integer DEFAULT 0 NOT NULL,
    "successfulDeals" integer DEFAULT 0 NOT NULL,
    "totalSpent" bigint DEFAULT 0 NOT NULL,
    "totalEarned" bigint DEFAULT 0 NOT NULL,
    rating double precision DEFAULT 0 NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastActiveAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "referralCode" text,
    xp integer DEFAULT 0,
    level integer DEFAULT 1
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: verification_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_requests (
    id text NOT NULL,
    "channelId" text NOT NULL,
    tier public."VerificationTier" NOT NULL,
    status public."VerificationRequestStatus" DEFAULT 'PENDING'::public."VerificationRequestStatus" NOT NULL,
    documents text[] DEFAULT ARRAY[]::text[],
    notes text,
    "reviewedBy" text,
    "reviewedAt" timestamp(3) without time zone,
    "reviewNotes" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.verification_requests OWNER TO postgres;

--
-- Name: withdrawals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.withdrawals (
    id text NOT NULL,
    "userId" text NOT NULL,
    "balanceId" text NOT NULL,
    amount bigint NOT NULL,
    fee bigint DEFAULT 0 NOT NULL,
    "netAmount" bigint NOT NULL,
    "toAddress" text NOT NULL,
    status public."WithdrawalStatus" DEFAULT 'PENDING'::public."WithdrawalStatus" NOT NULL,
    "txHash" text,
    "errorMessage" text,
    "processedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.withdrawals OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: balance_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: campaign_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campaign_applications (id, "campaignId", "channelId", "userId", "proposedPrice", "adFormat", message, "proposedDate", "proposedTime", status, "createdAt", "respondedAt") FROM stdin;
\.


--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campaigns (id, "advertiserId", title, description, brief, status, "targetCategories", "targetLanguages", "targetCountries", "minSubscribers", "maxSubscribers", "minEngagement", "adFormats", "totalBudget", "minPricePerPost", "maxPricePerPost", currency, "startDate", "endDate", "preferredPostTimes", "creativeGuidelines", "sampleContent", attachments, "doNotInclude", "applicationCount", "acceptedCount", "completedDeals", "totalSpent", "createdAt", "updatedAt", "publishedAt", "closedAt") FROM stdin;
\.


--
-- Data for Name: channel_admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.channel_admins (id, "channelId", "userId", "canManageDeals", "canManagePricing", "canManageSettings", "canWithdraw", "canAddAdmins", "telegramAdminRights", "isActive", "addedAt", "lastVerifiedAt") FROM stdin;
\.


--
-- Data for Name: channel_pricing; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: channel_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: channel_stats; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: channel_stats_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: channels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: deal_creatives; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: deal_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.deal_messages (id, "dealId", "senderId", content, "isSystem", "isRead", "createdAt") FROM stdin;
\.


--
-- Data for Name: deal_timeline; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: deals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: disputes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.disputes (id, "dealId", "initiatorId", reason, description, evidence, status, resolution, "resolvedBy", "resolvedAt", "requestedRefund", "actualRefund", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: escrows; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: faq_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: faq_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.favorites (id, "userId", "channelId", "createdAt") FROM stdin;
cmldt2o670004pe3s0yqaiijq	cml3w7id40000a6x5i89fijs0	cml43u210000g66ycfwrayjfy	2026-02-08 13:55:32.959
cmlngnp190012wbiby9qadirn	cmlngmppd000iwbiby16e0y7t	cml43u210000g66ycfwrayjfy	2026-02-15 08:05:40.605
cmlniz8gr00ddwbibelfaoij9	cmlnh4bbr001vwbibtjrfjae6	cml43u210000g66ycfwrayjfy	2026-02-15 09:10:38.235
\.


--
-- Data for Name: notification_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notification_settings (id, "userId", "inAppEnabled", "telegramEnabled", "dealsEnabled", "reviewsEnabled", "walletEnabled", "referralEnabled", "marketingEnabled", "quietHoursEnabled", "quietHoursStart", "quietHoursEnd", "quietHoursTimezone", "createdAt", "updatedAt") FROM stdin;
cmlnsqc1m0004k667g6t8r1y4	cml3w7id40000a6x5i89fijs0	t	t	t	t	t	t	t	f	\N	\N	\N	2026-02-15 13:43:39.13	2026-02-15 13:43:39.13
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: post_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.post_verifications (id, "postId", "exists", views, reactions, forwards, "createdAt") FROM stdin;
cmllwq8uj000p14o3k6y8erwh	cmlltv7sr005kqmmytypjfmq7	f	\N	\N	\N	2026-02-14 06:00:01.099
cmlm7g1pt001bepq7xrxddu70	cmlltv7sr005kqmmytypjfmq7	f	\N	\N	\N	2026-02-14 11:00:01.073
cmlmkb0le002eyb6164cx7gqs	cmlltv7sr005kqmmytypjfmq7	f	\N	\N	\N	2026-02-14 17:00:01.346
cmlna0xtt0005ucv63b0devou	cmlltv7sr005kqmmytypjfmq7	f	\N	\N	\N	2026-02-15 05:00:01.217
\.


--
-- Data for Name: published_posts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: referral_earnings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: referrals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.referrals (id, "referrerId", "referredUserId", "referralCode", "isActive", "totalEarned", "dealCount", "createdAt") FROM stdin;
cmlclxnn70004persjq9a3xhi	cml3w7id40000a6x5i89fijs0	cmlclxnkr0003pers1jsylmds	ref_896b41c1	t	100000000	10	2026-02-07 17:47:55.508
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: saved_filters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.saved_filters (id, "userId", name, filters, "isDefault", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: support_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.support_messages (id, "ticketId", "senderId", "isFromSupport", "isSystemMessage", content, attachments, "createdAt") FROM stdin;
\.


--
-- Data for Name: support_tickets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.support_tickets (id, "ticketNumber", "userId", category, priority, status, subject, "dealId", "channelId", "reportedUserId", "assignedTo", tags, "createdAt", "updatedAt", "firstResponseAt", "resolvedAt") FROM stdin;
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_balances; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_levels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_onboarding; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_sessions (id, "userId", token, "refreshToken", "deviceInfo", "ipAddress", "expiresAt", "createdAt", "lastUsedAt") FROM stdin;
\.


--
-- Data for Name: user_wallets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: verification_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_requests (id, "channelId", tier, status, documents, notes, "reviewedBy", "reviewedAt", "reviewNotes", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: withdrawals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: balance_transactions balance_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT balance_transactions_pkey PRIMARY KEY (id);


--
-- Name: campaign_applications campaign_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT campaign_applications_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: channel_admins channel_admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_admins
    ADD CONSTRAINT channel_admins_pkey PRIMARY KEY (id);


--
-- Name: channel_pricing channel_pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_pricing
    ADD CONSTRAINT channel_pricing_pkey PRIMARY KEY (id);


--
-- Name: channel_reviews channel_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_reviews
    ADD CONSTRAINT channel_reviews_pkey PRIMARY KEY (id);


--
-- Name: channel_stats_history channel_stats_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_stats_history
    ADD CONSTRAINT channel_stats_history_pkey PRIMARY KEY (id);


--
-- Name: channel_stats channel_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_stats
    ADD CONSTRAINT channel_stats_pkey PRIMARY KEY (id);


--
-- Name: channels channels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_pkey PRIMARY KEY (id);


--
-- Name: deal_creatives deal_creatives_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_creatives
    ADD CONSTRAINT deal_creatives_pkey PRIMARY KEY (id);


--
-- Name: deal_messages deal_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_messages
    ADD CONSTRAINT deal_messages_pkey PRIMARY KEY (id);


--
-- Name: deal_timeline deal_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_timeline
    ADD CONSTRAINT deal_timeline_pkey PRIMARY KEY (id);


--
-- Name: deals deals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT deals_pkey PRIMARY KEY (id);


--
-- Name: disputes disputes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disputes
    ADD CONSTRAINT disputes_pkey PRIMARY KEY (id);


--
-- Name: escrows escrows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.escrows
    ADD CONSTRAINT escrows_pkey PRIMARY KEY (id);


--
-- Name: faq_categories faq_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faq_categories
    ADD CONSTRAINT faq_categories_pkey PRIMARY KEY (id);


--
-- Name: faq_items faq_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faq_items
    ADD CONSTRAINT faq_items_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: notification_settings notification_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_settings
    ADD CONSTRAINT notification_settings_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: post_verifications post_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_verifications
    ADD CONSTRAINT post_verifications_pkey PRIMARY KEY (id);


--
-- Name: published_posts published_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.published_posts
    ADD CONSTRAINT published_posts_pkey PRIMARY KEY (id);


--
-- Name: referral_earnings referral_earnings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral_earnings
    ADD CONSTRAINT referral_earnings_pkey PRIMARY KEY (id);


--
-- Name: referrals referrals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: saved_filters saved_filters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_filters
    ADD CONSTRAINT saved_filters_pkey PRIMARY KEY (id);


--
-- Name: support_messages support_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_messages
    ADD CONSTRAINT support_messages_pkey PRIMARY KEY (id);


--
-- Name: support_tickets support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_pkey PRIMARY KEY (id);


--
-- Name: user_balances user_balances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_balances
    ADD CONSTRAINT user_balances_pkey PRIMARY KEY (id);


--
-- Name: user_levels user_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_levels
    ADD CONSTRAINT user_levels_pkey PRIMARY KEY (id);


--
-- Name: user_onboarding user_onboarding_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_onboarding
    ADD CONSTRAINT user_onboarding_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_wallets user_wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_wallets
    ADD CONSTRAINT user_wallets_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: verification_requests verification_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_requests
    ADD CONSTRAINT verification_requests_pkey PRIMARY KEY (id);


--
-- Name: withdrawals withdrawals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.withdrawals
    ADD CONSTRAINT withdrawals_pkey PRIMARY KEY (id);


--
-- Name: achievements_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX achievements_key_key ON public.achievements USING btree (key);


--
-- Name: balance_transactions_balanceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "balance_transactions_balanceId_idx" ON public.balance_transactions USING btree ("balanceId");


--
-- Name: balance_transactions_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "balance_transactions_createdAt_idx" ON public.balance_transactions USING btree ("createdAt");


--
-- Name: balance_transactions_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "balance_transactions_dealId_idx" ON public.balance_transactions USING btree ("dealId");


--
-- Name: balance_transactions_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX balance_transactions_type_idx ON public.balance_transactions USING btree (type);


--
-- Name: campaign_applications_campaignId_channelId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "campaign_applications_campaignId_channelId_key" ON public.campaign_applications USING btree ("campaignId", "channelId");


--
-- Name: campaign_applications_campaignId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "campaign_applications_campaignId_idx" ON public.campaign_applications USING btree ("campaignId");


--
-- Name: campaign_applications_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "campaign_applications_channelId_idx" ON public.campaign_applications USING btree ("channelId");


--
-- Name: campaign_applications_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX campaign_applications_status_idx ON public.campaign_applications USING btree (status);


--
-- Name: campaigns_advertiserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "campaigns_advertiserId_idx" ON public.campaigns USING btree ("advertiserId");


--
-- Name: campaigns_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "campaigns_createdAt_idx" ON public.campaigns USING btree ("createdAt");


--
-- Name: campaigns_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX campaigns_status_idx ON public.campaigns USING btree (status);


--
-- Name: campaigns_targetCategories_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "campaigns_targetCategories_idx" ON public.campaigns USING btree ("targetCategories");


--
-- Name: channel_admins_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_admins_channelId_idx" ON public.channel_admins USING btree ("channelId");


--
-- Name: channel_admins_channelId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "channel_admins_channelId_userId_key" ON public.channel_admins USING btree ("channelId", "userId");


--
-- Name: channel_admins_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_admins_userId_idx" ON public.channel_admins USING btree ("userId");


--
-- Name: channel_pricing_adFormat_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_pricing_adFormat_idx" ON public.channel_pricing USING btree ("adFormat");


--
-- Name: channel_pricing_channelId_adFormat_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "channel_pricing_channelId_adFormat_key" ON public.channel_pricing USING btree ("channelId", "adFormat");


--
-- Name: channel_pricing_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_pricing_channelId_idx" ON public.channel_pricing USING btree ("channelId");


--
-- Name: channel_reviews_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_reviews_channelId_idx" ON public.channel_reviews USING btree ("channelId");


--
-- Name: channel_reviews_dealId_fromUserId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "channel_reviews_dealId_fromUserId_key" ON public.channel_reviews USING btree ("dealId", "fromUserId");


--
-- Name: channel_reviews_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_reviews_dealId_idx" ON public.channel_reviews USING btree ("dealId");


--
-- Name: channel_reviews_overallRating_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_reviews_overallRating_idx" ON public.channel_reviews USING btree ("overallRating");


--
-- Name: channel_stats_channelId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "channel_stats_channelId_key" ON public.channel_stats USING btree ("channelId");


--
-- Name: channel_stats_history_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_stats_history_channelId_idx" ON public.channel_stats_history USING btree ("channelId");


--
-- Name: channel_stats_history_recordedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channel_stats_history_recordedAt_idx" ON public.channel_stats_history USING btree ("recordedAt");


--
-- Name: channels_categories_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX channels_categories_idx ON public.channels USING btree (categories);


--
-- Name: channels_ownerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channels_ownerId_idx" ON public.channels USING btree ("ownerId");


--
-- Name: channels_rating_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX channels_rating_idx ON public.channels USING btree (rating);


--
-- Name: channels_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX channels_status_idx ON public.channels USING btree (status);


--
-- Name: channels_subscriberCount_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channels_subscriberCount_idx" ON public.channels USING btree ("subscriberCount");


--
-- Name: channels_telegramId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "channels_telegramId_idx" ON public.channels USING btree ("telegramId");


--
-- Name: channels_telegramId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "channels_telegramId_key" ON public.channels USING btree ("telegramId");


--
-- Name: channels_username_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX channels_username_idx ON public.channels USING btree (username);


--
-- Name: channels_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX channels_username_key ON public.channels USING btree (username);


--
-- Name: deal_creatives_dealId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "deal_creatives_dealId_key" ON public.deal_creatives USING btree ("dealId");


--
-- Name: deal_messages_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deal_messages_dealId_idx" ON public.deal_messages USING btree ("dealId");


--
-- Name: deal_messages_senderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deal_messages_senderId_idx" ON public.deal_messages USING btree ("senderId");


--
-- Name: deal_timeline_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deal_timeline_createdAt_idx" ON public.deal_timeline USING btree ("createdAt");


--
-- Name: deal_timeline_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deal_timeline_dealId_idx" ON public.deal_timeline USING btree ("dealId");


--
-- Name: deals_advertiserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deals_advertiserId_idx" ON public.deals USING btree ("advertiserId");


--
-- Name: deals_campaignId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deals_campaignId_idx" ON public.deals USING btree ("campaignId");


--
-- Name: deals_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deals_channelId_idx" ON public.deals USING btree ("channelId");


--
-- Name: deals_channelOwnerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deals_channelOwnerId_idx" ON public.deals USING btree ("channelOwnerId");


--
-- Name: deals_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deals_createdAt_idx" ON public.deals USING btree ("createdAt");


--
-- Name: deals_referenceNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "deals_referenceNumber_key" ON public.deals USING btree ("referenceNumber");


--
-- Name: deals_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX deals_status_idx ON public.deals USING btree (status);


--
-- Name: deals_status_scheduledPostTime_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "deals_status_scheduledPostTime_idx" ON public.deals USING btree (status, "scheduledPostTime");


--
-- Name: disputes_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "disputes_dealId_idx" ON public.disputes USING btree ("dealId");


--
-- Name: disputes_initiatorId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "disputes_initiatorId_idx" ON public.disputes USING btree ("initiatorId");


--
-- Name: disputes_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX disputes_status_idx ON public.disputes USING btree (status);


--
-- Name: escrows_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "escrows_dealId_idx" ON public.escrows USING btree ("dealId");


--
-- Name: escrows_dealId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "escrows_dealId_key" ON public.escrows USING btree ("dealId");


--
-- Name: escrows_escrowWalletAddress_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "escrows_escrowWalletAddress_idx" ON public.escrows USING btree ("escrowWalletAddress");


--
-- Name: escrows_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX escrows_status_idx ON public.escrows USING btree (status);


--
-- Name: faq_categories_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX faq_categories_slug_key ON public.faq_categories USING btree (slug);


--
-- Name: faq_items_categoryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "faq_items_categoryId_idx" ON public.faq_items USING btree ("categoryId");


--
-- Name: favorites_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "favorites_channelId_idx" ON public.favorites USING btree ("channelId");


--
-- Name: favorites_userId_channelId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "favorites_userId_channelId_key" ON public.favorites USING btree ("userId", "channelId");


--
-- Name: favorites_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "favorites_userId_idx" ON public.favorites USING btree ("userId");


--
-- Name: notification_settings_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "notification_settings_userId_key" ON public.notification_settings USING btree ("userId");


--
-- Name: notifications_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_createdAt_idx" ON public.notifications USING btree ("createdAt");


--
-- Name: notifications_isRead_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_isRead_idx" ON public.notifications USING btree ("isRead");


--
-- Name: notifications_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_type_idx ON public.notifications USING btree (type);


--
-- Name: notifications_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_userId_idx" ON public.notifications USING btree ("userId");


--
-- Name: post_verifications_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "post_verifications_createdAt_idx" ON public.post_verifications USING btree ("createdAt");


--
-- Name: post_verifications_postId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "post_verifications_postId_idx" ON public.post_verifications USING btree ("postId");


--
-- Name: published_posts_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "published_posts_channelId_idx" ON public.published_posts USING btree ("channelId");


--
-- Name: published_posts_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "published_posts_dealId_idx" ON public.published_posts USING btree ("dealId");


--
-- Name: published_posts_publishedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "published_posts_publishedAt_idx" ON public.published_posts USING btree ("publishedAt");


--
-- Name: published_posts_scheduledFor_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "published_posts_scheduledFor_idx" ON public.published_posts USING btree ("scheduledFor");


--
-- Name: published_posts_scheduled_delete_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX published_posts_scheduled_delete_idx ON public.published_posts USING btree ("scheduledDeleteAt") WHERE (("scheduledDeleteAt" IS NOT NULL) AND (status = 'PUBLISHED'::public."PostStatus"));


--
-- Name: published_posts_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX published_posts_status_idx ON public.published_posts USING btree (status);


--
-- Name: referral_earnings_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "referral_earnings_createdAt_idx" ON public.referral_earnings USING btree ("createdAt");


--
-- Name: referral_earnings_dealId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "referral_earnings_dealId_idx" ON public.referral_earnings USING btree ("dealId");


--
-- Name: referral_earnings_referralId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "referral_earnings_referralId_idx" ON public.referral_earnings USING btree ("referralId");


--
-- Name: referrals_referralCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "referrals_referralCode_idx" ON public.referrals USING btree ("referralCode");


--
-- Name: referrals_referredUserId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "referrals_referredUserId_idx" ON public.referrals USING btree ("referredUserId");


--
-- Name: referrals_referredUserId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "referrals_referredUserId_key" ON public.referrals USING btree ("referredUserId");


--
-- Name: referrals_referrerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "referrals_referrerId_idx" ON public.referrals USING btree ("referrerId");


--
-- Name: reviews_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "reviews_channelId_idx" ON public.reviews USING btree ("channelId");


--
-- Name: reviews_dealId_authorId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "reviews_dealId_authorId_key" ON public.reviews USING btree ("dealId", "authorId");


--
-- Name: reviews_rating_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reviews_rating_idx ON public.reviews USING btree (rating);


--
-- Name: reviews_recipientId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "reviews_recipientId_idx" ON public.reviews USING btree ("recipientId");


--
-- Name: saved_filters_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "saved_filters_userId_idx" ON public.saved_filters USING btree ("userId");


--
-- Name: support_messages_ticketId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "support_messages_ticketId_createdAt_idx" ON public.support_messages USING btree ("ticketId", "createdAt");


--
-- Name: support_tickets_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX support_tickets_status_idx ON public.support_tickets USING btree (status);


--
-- Name: support_tickets_ticketNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "support_tickets_ticketNumber_idx" ON public.support_tickets USING btree ("ticketNumber");


--
-- Name: support_tickets_ticketNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "support_tickets_ticketNumber_key" ON public.support_tickets USING btree ("ticketNumber");


--
-- Name: support_tickets_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "support_tickets_userId_idx" ON public.support_tickets USING btree ("userId");


--
-- Name: transactions_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transactions_createdAt_idx" ON public.transactions USING btree ("createdAt");


--
-- Name: transactions_escrowId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transactions_escrowId_idx" ON public.transactions USING btree ("escrowId");


--
-- Name: transactions_txHash_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transactions_txHash_idx" ON public.transactions USING btree ("txHash");


--
-- Name: transactions_txHash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "transactions_txHash_key" ON public.transactions USING btree ("txHash");


--
-- Name: transactions_type_status_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transactions_type_status_createdAt_idx" ON public.transactions USING btree (type, status, "createdAt");


--
-- Name: transactions_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "transactions_userId_idx" ON public.transactions USING btree ("userId");


--
-- Name: user_achievements_userId_achievementId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_achievements_userId_achievementId_key" ON public.user_achievements USING btree ("userId", "achievementId");


--
-- Name: user_achievements_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_achievements_userId_idx" ON public.user_achievements USING btree ("userId");


--
-- Name: user_balances_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_balances_userId_key" ON public.user_balances USING btree ("userId");


--
-- Name: user_levels_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_levels_userId_key" ON public.user_levels USING btree ("userId");


--
-- Name: user_onboarding_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_onboarding_userId_key" ON public.user_onboarding USING btree ("userId");


--
-- Name: user_sessions_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_sessions_expiresAt_idx" ON public.user_sessions USING btree ("expiresAt");


--
-- Name: user_sessions_refreshToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_sessions_refreshToken_key" ON public.user_sessions USING btree ("refreshToken");


--
-- Name: user_sessions_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sessions_token_idx ON public.user_sessions USING btree (token);


--
-- Name: user_sessions_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX user_sessions_token_key ON public.user_sessions USING btree (token);


--
-- Name: user_sessions_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_sessions_userId_idx" ON public.user_sessions USING btree ("userId");


--
-- Name: user_wallets_address_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_wallets_address_idx ON public.user_wallets USING btree (address);


--
-- Name: user_wallets_address_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX user_wallets_address_key ON public.user_wallets USING btree (address);


--
-- Name: user_wallets_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_wallets_userId_idx" ON public.user_wallets USING btree ("userId");


--
-- Name: users_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_createdAt_idx" ON public.users USING btree ("createdAt");


--
-- Name: users_referralCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "users_referralCode_key" ON public.users USING btree ("referralCode");


--
-- Name: users_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_status_idx ON public.users USING btree (status);


--
-- Name: users_telegramId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_telegramId_idx" ON public.users USING btree ("telegramId");


--
-- Name: users_telegramId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "users_telegramId_key" ON public.users USING btree ("telegramId");


--
-- Name: users_telegramUsername_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_telegramUsername_idx" ON public.users USING btree ("telegramUsername");


--
-- Name: verification_requests_channelId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "verification_requests_channelId_idx" ON public.verification_requests USING btree ("channelId");


--
-- Name: verification_requests_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX verification_requests_status_idx ON public.verification_requests USING btree (status);


--
-- Name: withdrawals_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "withdrawals_createdAt_idx" ON public.withdrawals USING btree ("createdAt");


--
-- Name: withdrawals_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX withdrawals_status_idx ON public.withdrawals USING btree (status);


--
-- Name: withdrawals_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "withdrawals_userId_idx" ON public.withdrawals USING btree ("userId");


--
-- Name: balance_transactions balance_transactions_balanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT "balance_transactions_balanceId_fkey" FOREIGN KEY ("balanceId") REFERENCES public.user_balances(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: balance_transactions balance_transactions_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.balance_transactions
    ADD CONSTRAINT "balance_transactions_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: campaign_applications campaign_applications_campaignId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT "campaign_applications_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES public.campaigns(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: campaign_applications campaign_applications_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT "campaign_applications_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: campaign_applications campaign_applications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaign_applications
    ADD CONSTRAINT "campaign_applications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: campaigns campaigns_advertiserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT "campaigns_advertiserId_fkey" FOREIGN KEY ("advertiserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: channel_admins channel_admins_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_admins
    ADD CONSTRAINT "channel_admins_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: channel_admins channel_admins_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_admins
    ADD CONSTRAINT "channel_admins_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: channel_pricing channel_pricing_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_pricing
    ADD CONSTRAINT "channel_pricing_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: channel_reviews channel_reviews_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_reviews
    ADD CONSTRAINT "channel_reviews_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: channel_reviews channel_reviews_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_reviews
    ADD CONSTRAINT "channel_reviews_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: channel_reviews channel_reviews_fromUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_reviews
    ADD CONSTRAINT "channel_reviews_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: channel_stats channel_stats_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_stats
    ADD CONSTRAINT "channel_stats_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: channel_stats_history channel_stats_history_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channel_stats_history
    ADD CONSTRAINT "channel_stats_history_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: channels channels_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT "channels_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: deal_creatives deal_creatives_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_creatives
    ADD CONSTRAINT "deal_creatives_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: deal_messages deal_messages_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_messages
    ADD CONSTRAINT "deal_messages_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: deal_messages deal_messages_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_messages
    ADD CONSTRAINT "deal_messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: deal_timeline deal_timeline_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_timeline
    ADD CONSTRAINT "deal_timeline_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: deal_timeline deal_timeline_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_timeline
    ADD CONSTRAINT "deal_timeline_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: deals deals_advertiserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT "deals_advertiserId_fkey" FOREIGN KEY ("advertiserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: deals deals_campaignId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT "deals_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES public.campaigns(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: deals deals_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT "deals_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: deals deals_channelOwnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deals
    ADD CONSTRAINT "deals_channelOwnerId_fkey" FOREIGN KEY ("channelOwnerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: disputes disputes_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disputes
    ADD CONSTRAINT "disputes_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: disputes disputes_initiatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disputes
    ADD CONSTRAINT "disputes_initiatorId_fkey" FOREIGN KEY ("initiatorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: escrows escrows_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.escrows
    ADD CONSTRAINT "escrows_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: faq_items faq_items_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faq_items
    ADD CONSTRAINT "faq_items_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.faq_categories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favorites favorites_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT "favorites_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favorites favorites_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT "favorites_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notification_settings notification_settings_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_settings
    ADD CONSTRAINT "notification_settings_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: post_verifications post_verifications_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post_verifications
    ADD CONSTRAINT "post_verifications_postId_fkey" FOREIGN KEY ("postId") REFERENCES public.published_posts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: published_posts published_posts_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.published_posts
    ADD CONSTRAINT "published_posts_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: published_posts published_posts_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.published_posts
    ADD CONSTRAINT "published_posts_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: referral_earnings referral_earnings_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral_earnings
    ADD CONSTRAINT "referral_earnings_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: referral_earnings referral_earnings_referralId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral_earnings
    ADD CONSTRAINT "referral_earnings_referralId_fkey" FOREIGN KEY ("referralId") REFERENCES public.referrals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: reviews reviews_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reviews reviews_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_recipientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: saved_filters saved_filters_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_filters
    ADD CONSTRAINT "saved_filters_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: support_messages support_messages_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_messages
    ADD CONSTRAINT "support_messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: support_messages support_messages_ticketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_messages
    ADD CONSTRAINT "support_messages_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES public.support_tickets(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: support_tickets support_tickets_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT "support_tickets_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: support_tickets support_tickets_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT "support_tickets_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public.deals(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: support_tickets support_tickets_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT "support_tickets_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: transactions transactions_escrowId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "transactions_escrowId_fkey" FOREIGN KEY ("escrowId") REFERENCES public.escrows(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: transactions transactions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "transactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_achievements user_achievements_achievementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT "user_achievements_achievementId_fkey" FOREIGN KEY ("achievementId") REFERENCES public.achievements(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT "user_achievements_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_balances user_balances_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_balances
    ADD CONSTRAINT "user_balances_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_levels user_levels_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_levels
    ADD CONSTRAINT "user_levels_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_onboarding user_onboarding_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_onboarding
    ADD CONSTRAINT "user_onboarding_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_sessions user_sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT "user_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_wallets user_wallets_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_wallets
    ADD CONSTRAINT "user_wallets_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: verification_requests verification_requests_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_requests
    ADD CONSTRAINT "verification_requests_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public.channels(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: withdrawals withdrawals_balanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.withdrawals
    ADD CONSTRAINT "withdrawals_balanceId_fkey" FOREIGN KEY ("balanceId") REFERENCES public.user_balances(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Z7hDjWIXyTmSbehwRfl8tEcQdxWvFHgRaff2uE8awd135Qyk7Au7B3CslquCddz

